.addExpenseOrRevenueForm {
  padding-top: 3em;
}

.input-field,
.add-form-button {
  padding-bottom: 1em;
}

@media only screen and (max-width: 775px) {
  .input-field,
  .add-form-button {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}
