.addExpenseOrRevenueForm {
  padding-top: 1.24em;
}

.input-field, .add-form-button {
  padding-bottom: 0.5em;
  color: red;
}

.roi-tables {
  padding-top: 1.22em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses-table, .revenue-table, .totals-table {
  margin-bottom: 3em;
}
.expenses-table th, .revenue-table th, .totals-table th {
  width: 150px;
}
.expenses-table td, .revenue-table td, .totals-table td {
  width: 125px
}

.error {
  color: red;
  font-style: italic;
}

@media only screen and (max-width:775px) {
  .input-field, .add-form-button {
    margin-left: .25em;
    margin-right: .25em;
  }
  .roi-tables {
    padding-left: 1.5em;
  }
}

thead > tr > th:first-of-type {
    font-size: 19px;
}

tr td {
    padding: 0.24em;
}

input {
    text-align: center;
    font-size: 2em;
}

h1 {
    margin-top: 0.24em;
    text-shadow: 1px 1px 1px white, 2px 2px 1px gray;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}
